/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
:root{
    /*--back-url: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/halftone.png') 7;*/
    --back-url: #f6f6f6;
    --chart-spacing: 7px solid;
}

html {
    font-family: arial;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /*zoom: .85; -moz-transform: scale(85); -moz-transform-origin: 0 0;*/
}

body {
    margin: 0;
    scrollbar-face-color: rgba(52, 56, 56, .5);
    scrollbar-track-color: transparent;
    background-color: #f6f6f6;
    font-size: 1pc;
    font-family: arial;
    color: #343838
}   

@media only screen
and (max-width : 600px)
{
    #profile__user{
        visibility: hidden !important;
    }
}
.wrapper {
    width: calc(100% - 30px)!important;
    top:40pt;
    position:relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 750pt!important
}

@media all and (min-width:1025px) {
    .wrapper {    
        width: calc(100% - 140px)!important;
        margin: 0 auto;
        max-width: 750pt!important;
        margin-left: calc(50% - 375pt + 70px) !important;
    }
}

.section {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden
}

.section .section__top-bar {
    position: relative;
    height: 40px;
    padding: 0 15px
}

.section .section__top-bar .top-bar__title {
    font-size: 1em;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section .section__content {
    width: 100%;
    height: calc(100% - 30px);
    position: relative
}

.section--1 {
    /*zoom: .85; -moz-transform: scale(85); -moz-transform-origin: 0 0;*/
    height: 400px;
    border: var(--chart-spacing);
    border-color: var(--back-url);
    /*border-image-repeat: repeat;*/
}

    
.section--0 {
    zoom: .85; -moz-transform: scale(85); -moz-transform-origin: 0 0;
    /*border: var(--chart-spacing);*/
    /*border-image:  var(--back-url)*/;
    /*border-image-repeat: repeat;*/
    border-image-width: 0px;
    background-color: rgb(87, 140, 168);
    background-color: #e5625c;
    background: rgba(52, 168, 83, 1.00);
    background-color: rgb(31, 35, 42);
    height:40pt;
    position:fixed;
    z-index: 5;
    top: 0px;
}

.wrapper .section--0{
    zoom: .8; -moz-transform: scale(80); -moz-transform-origin: 0 0;
    width:100% !important;
    margin-left: calc(375pt - 50% - 78px);
    margin-left: calc(300pt - 50%  - 54px + 175px);
}

@media all and (max-width:1025px) {
    .wrapper  .section--0{
        margin-left: -17px !important;
    }
    .wrapper #profile__name{
        font-size:1.2em;
    }
    
}

#profile__user{
    position: absolute;
    color: floralwhite;
    left: 175px;
    padding: 12px;
    padding-right: 20px;
    /* opacity: 0.5; */
    background-color: rgba(255,255,255,.1);
    margin-top: 0px;
    height: 40pt;
    font-size: medium;
}

#profile__name{
    position:absolute;
    left: 15px;
    float:left;
    color:mediumaquamarine;
    color:floralwhite;
    text-align:center;
    padding-top:13px;
    margin-left:35px;
    font-size:1.3em;
    font-family:arial
}

body {
 /* background: #e8e8e8*/;
}
.container {
  margin: 0 auto;
}

@media only screen and (max-width: 470px) {

    .wrapper{
        width: 100% !important;
        padding: 0pt !important;
    }
    .wrapper .section--0 {
        margin-left: -0px !important;
    }
}

.zoom-90{
    zoom: .90; -moz-transform: scale(90); -moz-transform-origin: 0 0;
}
.zoom-85{
    zoom: .85; -moz-transform: scale(85); -moz-transform-origin: 0 0;
}
.zoom-80{
    zoom: .80; -moz-transform: scale(80); -moz-transform-origin: 0 0;
}
