<div class="wrapper" style="padding: 0 10pt;">

	<div class="section--0">
		<div id="profile__name">Demo</div>
		<div id="profile__user">
			Welcome user
		</div>
		<div>
			    <md-button style="float:right" class="md-primary md-raised" ui-sref="dashboard.home">
			      Back
			    </md-button>
		</div>
	</div>
    <div ui-view='paymentform' class="widget"></div>
</div>
