<div class="wrapper" style="padding: 0 10pt;">

	<div class="section--0">
		<div id="profile__name">Demo</div>
		<div id="profile__user">
			Welcome user
		</div>
		<div>
			    <md-button style="float:right" class="md-primary md-raised" ui-sref="dashboard.addpayments">
			      Add payment
			    </md-button>
			    <md-button style="float:right" class="md-primary md-raised" ng-click="filterPaymentsByMethod()" >
			      Filter Payment
			    </md-button>
			    <md-button style="float:right" class="md-primary md-raised" ng-click="getPaymentsByPromise()" >
			      Promise
			    </md-button>
			    <md-button style="float:right" class="md-primary md-raised" ng-click="getPaymentsByCallback()" >
			      Callback
			    </md-button>
		</div>
	</div>
	<div>
		<p><b>Filter payment</b> method uses payment data retrived from 'Callback' and 'Promise' methods. Please click one of them before applying filter. </p>
	</div>
    <div ui-view='payments' class="widget"></div>
</div>
