<div class="drop-container">
	<form name="nForm">
					        
		<div layout="column" ng-cloak layout-padding ng-cloak>
				    
					<md-input-container class="md-block">
				        <label>Payment Method</label>
				               <md-select ng-model="method" placeholder="Select payment method" class="md-no-underline" required="required">
						          <md-option value="ideal">Ideal</md-option>
						          <md-option value="creditcard">Credit card</md-option>
						          <md-option value="bank-transfer">Bank transfer</md-option>
						        </md-select>
				      </md-input-container>

				      <md-input-container class="md-block">
				        <label>Name</label>
						<input type="text" ng-model="merchant" placeholder="Merchant name" required="required">
				      </md-input-container>

				      

				       <md-input-container class="md-block">
				        <label>Amount</label>
				        <input ng-model="amount" type="number" placeholder="Amount" required="required">
				      </md-input-container>
				   
					  	<md-button ng-disabled="nForm.$invalid || !nForm.$dirty" class="md-raised md-primary" ng-click="pay()">Pay</md-button>
					
				</div>
	</form>
</div>