<style>
	table, th , td {
	  border: 1px solid grey;
	  border-collapse: collapse;
	  padding: 5px;
	}
	table tr:nth-child(odd) {
	  background-color: #f1f1f1;
	}
	table tr:nth-child(even) {
	  background-color: #ffffff;
	}
</style>
<div class="drop-container">
	<table>
		 <thead ng-show="payments">
			<tr>
			    <th>ID</th>
			    <th>Method</th>
			    <th>Amount</th>
			    <th>Currency</th>
			    <th>Created</th>
			</tr>
		 </thead>
		<tr class="item" ng-repeat="item in payments | paymentmethod: paymentMethod">
	    	<td>
	    		{{item.id}}
	    	</td>
	    	<td>
	    		{{item.method}}
	    	</td>
	    	<td>
	    		{{item.amount}}
	    	</td>
	    	<td>
	    		{{item.currency}}
	    	</td>
	    	<td>
	    		{{item.created}}
	    	</td>
		</tr>
	</table>
</div>