/* fonts */
/* $headFont: 'algRegular'; */
$headFont: 'montserratregular';
$bodyFont: 'robRegular'; 

/* colors */
$dullWhite: #f6f6f6;
$white: #fff;
$yellow: #f9bf76;
$green: #76f9a6;
$blue: #578ca8;
$black: #343838; 
$red: #e5625c;